button {
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: 1px solid green;
    font-weight: 500;
    border-radius: 10%;
}

.first-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-page{
    height: 100%;
}